* {
    padding: 0;
    margin: 0;
}

.content {
    margin-top: 30px;
}

h3 {
    margin-bottom: 0;
}

.container-fluid {
    padding: 0;
}

#index_buttons {
    padding-top: 15px;
    margin: 0 auto;
    width: 250px;
    height: 125px;
}

#login_button {
    background-color: #7c8acc;
    border-color: #ccc;
    color: rgb(255, 255, 255);
    width: 100px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

#register_button {
    background-color: #5b5e70;
    border-color: #ccc;
    color: rgb(236, 236, 236);
    width: 100px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

#info_row {
    padding-top: 15px;
    margin: 0 auto;
    width: 320px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
}

#register_page {
    padding-top: 15px;
    margin: 0 auto;
    width: 420px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    text-align: center;
}

#info_box {
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
}

#product_card {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 302px;
    background-color: #cac2c2;
    border: 1px solid rgb(178, 178, 178);
    height: 550px;
}

.product_card-img {
    width: auto;
    height: 300px;
    padding-top: 15px;
}

.product_card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_card-text {
    text-align: center;
    font-size: 15px;
    margin: 10px 5px;
    font-style: italic;
    height: 70px;
}

.product_card-price {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

#add_to_cart_button {
    background-color: #49f4d8;
    border-color: #ccc;
    color: rgb(32, 30, 30);
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#checkout_button {
    background-color: #49f4d8;
    border-color: #ccc;
    color: rgb(32, 30, 30);
    width: 220px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}


/* Checkout Page Table */
#product_page {
    justify-content: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    min-width: 600px;
    max-width: 900px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-table th {
    background-color: #f2f2f2;
}

.total-row {
    font-weight: bold;
}