{% extends "layout.html" %}

{% block content %}
<div class="row" id="about_page">
    <div class="col-md-12">
        <h1>About us</h1>
        <div class="about-section">
            <div class="section-title">
                <h3>What's this?</h3>
            </div>
            <div class="section-content">
                <p>
                    The following Website is a product of our work for this course, ITSC 3155.
                </p>
            </div>
        </div>

        <div class="about-section">
            <div class="section-title">
                <h3>What to expect?</h3>
            </div>
            <div class="section-content">
                <p>
                    Our project is BOOKCARE, an online bookstore website where you can explore and buy a variety of books from different genres neatly displayed.
                    You can log in as a user or as an administrator to add more books and view all your customers' orders.
                </p>
            </div>
        </div>

        <div class="about-section">
            <div class="section-title">
                <h3>Our Team</h3>
            </div>
            <div class="section-content">
                <ul>
                    <li>Alberto Olivi</li>
                    <li>Jacob George</li>
                    <li>Abdulrahamn Aljabali</li>
                    <li>Alima Conde</li>
                </ul>
            </div>
        </div>

        <div class="about-section">
            <div class="section-title">
                <h3>Logins</h3>
            </div>
            <div class="section-content">
                <p>
                    To view the Admin Panel, please login as an admin:
                </p>
                <p><strong>Username:</strong> Admin</p>
                <p><strong>Password:</strong> Admin</p>
                <br>
                <p>To Log in as a customer, enter the following:</p>
                <p><strong>Username:</strong> test</p>
                <p><strong>Password:</strong> test</p>
            </div>
        </div>

        <div class="centered-section">
            <h1>
                Thank you for visiting and viewing our project. Hope you enjoy!
            </h1>
        </div>
    </div>
</div>
{% endblock %}
