{% extends "layout.html" %}

{% block content %}
<div class="row" id="about_page">
    <div class="col-md-12">
        <h1>About Us</h1><br>
        <p>
            This is our work for class ITSC-3155-081 (Software Engineering). 
        </p>
        <p>
            Our project is BOOKCARE, a bookstore website where you can explore and buy a variety of books from different genres.
        </p>
        <p>
            To view the Admin Panel, please login as an admin:
        </p>
        <p>
            <strong>Username:</strong> Admin
        </p>
        <p>
            <strong>Password:</strong> Admin
        </p>
        <br>
        <p>
            Thank you for visiting and viewing our project!
        </p>
    </div>
</div>
{% endblock %}