{% extends "layout.html" %}

{% block content %}
<!-- By Alberto Olivi -->
<div class="navbar">
    <a href="#" onclick="showSection('add')">Add New Product</a>
    <a href="#" onclick="showSection('remove')">Remove Product</a>
    <a href="#" onclick="showSection('update')">Update Product</a>
    <a href="#" onclick="showSection('disable-enable')">Disable/Enable Product</a>
    <a href="#" onclick="showSection('view-all')">View All Products</a>
    <p id="demo"></p>
</div>

<div class="container">
    
    <!-- Add New Product -->
    <div class="row" id="add-section">
        <form action="/add-product" method="post">
            <div class="admin_panel">
                <h2>Add New Product</h2><br>
                <label id="admin_info">Item Name: </label><br><input type="text" name="itemname" id="admin_text" placeholder="Enter Item Name"><br>
                <label id="admin_info">Info: </label><br><textarea name="info" id="admin_text" placeholder="Enter Info" style="width: 60%"></textarea><br>
                <label id="admin_info">Price: </label><br><input type="number" name="price" id="admin_text" placeholder="Enter Price"><br>
                <label id="admin_info">Stock: </label><br><input type="number" name="stock" id="admin_text" placeholder="Enter Stock Amount"><br>
                <label id="admin_info">Image URL: </label><br><input type="text" name="image_url" id="admin_text" placeholder="Enter Image Url"><br>
                <label id="admin_info">Category: </label><br><input type="text" name="category" id="admin_text" placeholder="Enter Category"><br>
                <button type="submit" class="btn btn-primary" id="admin_button">Add Product</button><br>
            </div>
        </form>
    </div>
    <div class="row" id="remove-section">
        <h2>Remove Product</h2>
        <button class="btn">Remove</button>
    </div>

    <!-- Update Product -->
    <div class="row" id="update-section">
        <form action="/update-product" method="post">
            <div class="admin_panel">
                <h2>Update product</h2><br>
                <label id="admin_info">Item ID: </label><br><input type="text" name="itemid" id="admin_text" placeholder="Enter Item id"><br>
                <button type="submit" class="btn btn-primary" name="button_send" value="find_product" id="admin_button">Find Product</button><br>
                {% if item_not_found %}
                <hr>
                <h2>Item not found</h2>
                {% endif %}
                {% if item_found %}
                <hr>
                <h2>Item Found</h2>
                <hr>
                <label id="admin_info"><b>ID: {{ item_id }}</b></label><br>
                <input type="hidden" name="id_update" value="{{ item_id }}">
                <label id="admin_info"><b>Item Name: </b></label><br>{{ name }}<br>
                <input type="text" name="itemname_update" id="admin_text" placeholder="New Item Name"><br>
                <label id="admin_info"><b>Info: </b></label><br>{{ info }}<br>
                <textarea name="info_update" id="admin_text" placeholder="New Info" style="width: 60%"></textarea><br>
                <label id="admin_info"><b>Price: </b></label><br>{{ price }}<br>
                <input type="text" name="price_update" id="admin_text" placeholder="New Price"><br>
                <label id="admin_info"><b>Stock: </b></label><br>{{ stock }}<br>
                <input type="text" name="stock_update" id="admin_text" placeholder="New Stock Amount"><br>
                <label id="admin_info"><b>Image Url: </b></label><br>{{ image_url }}<br>
                <input type="text" name="image_url_update" id="admin_text" placeholder="New Image Url"><br>
                <label id="admin_info"><b>Category: </b></label><br>{{ category }}<br>
                <input type="text" name="category_update" id="admin_text" placeholder="New Category"><br>
                <button type="submit" class="btn btn-primary" name="button_send" value="update_product" id="admin_button">Update Product</button><br>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="row" id="disable-enable-section">
        <h2>Disable / Enable Product</h2>
        <button class="btn">Disable/Enable</button>
    </div>
    <div class="row" id="view-all-section">
        <h2>View All Products</h2>
        <button class="btn">View</button>
    </div>
</div>

<script>
    function hideAllSections() {
        const sections = document.querySelectorAll('.row');
        for (let i = 1; i < sections.length; i++) {
            sections[i].style.display = 'none';
        }
    }

    function showSection(sectionId) {
        hideAllSections();
        const sectionToShow = document.getElementById(`${sectionId}-section`);
        if (sectionToShow) {
            sectionToShow.style.display = 'block';
            // If page is reloaded (because of a button or new information to displau), keep this nav bar selection to be shown
            sessionStorage.setItem('navbar-selection', sectionId); 
        }
    }
    hideAllSections();
    window.onload = function() {
            var section = sessionStorage.getItem('navbar-selection');
            showSection(section);
        };
</script>

{% endblock %}