{% extends "layout.html" %}

{% block content %}
<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Your Checkout</h3>
        <hr>
        <div class="row" id="product_page">
            <form method="post" action="/checkout-update" id="cart-table-form">
                <table class="cart-table">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        {% if  total_cost  != 0 %}
                        <th>Change Quantity</th>
                        {% endif %}
                    </tr>
                    {% for item_id, item_info in cart.items() %}
                        <tr>
                            <td>{{ item_info.name }}</td>
                            <td>${{ '{:.2f}'.format(item_info.price) }}</td>
                            <td>{{ item_info.quantity }}</td>
                            <td>${{ '{:.2f}'.format(item_info.subtotal) }}</td>
                            <td>
                                <input type="number" name="{{ item_id }}" value="{{ item_info.quantity }}" min="0" max="100" step="1" oninput="this.value = Math.abs(this.value)">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="total-row">
                        <td colspan="3">Total:</td>
                        <td>${{ '{:.2f}'.format(total_cost) }}</td>
                        {% if  total_cost  != 0 %}
                        <td><button type="submit" class="btn btn-primary" name="update_checkout" id="checkout_page_button">Update Quantity</button></td>
                        {% endif %}
                    </tr>
                </table>
                {% if not_enough_stock %}
                    <div class="alert alert-danger">
                        <p><strong>Item with Not Enough Stocks:</strong></p>
                        {% for item_id, item_info in not_enough_stock.items() %}
                            <p>{{ item_info.item_name }} - Stock: {{ item_info.item_stock }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if  total_cost  != 0 %}
                    <button type="submit" class="btn btn-primary" name="send_checkout" id="checkout_page_button">Send Order</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}