{% extends "layout.html" %}

{% block content %}
<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Your Order</h3>
        <hr>
        <div class="row" id="product_page">
            <table class="cart-table">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                {% for item_id, item_info in cart.items() %}
                    <tr>
                        <td>{{ item_info.name }}</td>
                        <td>${{ item_info.price }}</td>
                        <td>{{ item_info.quantity }}</td>
                        <td>${{ item_info.subtotal }}</td>
                    </tr>
                {% endfor %}
                <tr class="total-row">
                    <td colspan="3">Total:</td>
                    <td>${{ total_cost }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}